---
# The CIS Control wants IPv6 disabled if not in use.
# We are using the ipv6_required to specify if you have IPv6 in use

- name: "3.1.1 | PATCH | Verify if IPv6 is enabled on the system"
  when:
    - not ipv6_required
    - rule_3_1_1
  tags:
    - level1-server
    - level1-workstation
    - manual
    - patch
    - ipv6
    - networking
    - NIST800-53R5_CM-7
    - rule_3.1.1
  notify: Set_reboot_required
  block:
    - name: "3.1.1 | PATCH | Verify if IPv6 is enabled on the system | disable all except localhost"
      ansible.posix.sysctl:
        name: "{{ item }}"
        value: '1'
        sysctl_set: true
        sysctl_file: "{{ sysctl_file }}"
      loop:
        - net.ipv6.conf.all.disable_ipv6
        - net.ipv6.conf.default.disable_ipv6

    - name: "3.1.1 | PATCH | Verify if IPv6 is enabled on the system | disable localhost sysctl"
      when: ipv6_disable_localhost
      ansible.posix.sysctl:
        name: net.ipv6.conf.lo.disable_ipv6
        value: '1'
        sysctl_set: true
        sysctl_file: "{{ sysctl_file }}"

    - name: "3.1.1 | PATCH | Verify if IPv6 is enabled on the system | disable localhost /etc/hosts"
      when: ipv6_disable_localhost
      ansible.builtin.lineinfile:
        path: /etc/hosts
        regexp: "^(::1.*)"
        line: "#\\1"
        backrefs: true

- name: "3.1.2 | PATCH | Ensure wireless interfaces are disabled"
  when: rule_3_1_2
  tags:
    - level1-server
    - automated
    - patch
    - wireless
    - NIST800-53R5_CM-7
    - rule_3.1.2
  block:
    - name: "3.1.2 | AUDIT | Ensure wireless interfaces are disabled | Check if nmcli command is available"
      ansible.builtin.command: rpm -q NetworkManager # noqa command-instead-of-module
      changed_when: false
      failed_when: false
      check_mode: false
      register: discovered_nmcli_available

    - name: "3.1.2 | AUDIT | Ensure wireless interfaces are disabled | Check if wifi is enabled"
      when: discovered_nmcli_available.rc == 0
      ansible.builtin.command: nmcli radio wifi
      changed_when: discovered_wifi_enabled.stdout != "disabled"
      failed_when: false
      check_mode: false
      register: discovered_wifi_enabled

    - name: "3.1.2 | PATCH | Ensure wireless interfaces are disabled | Disable wifi if enabled"
      when: discovered_wifi_enabled is changed # noqa no-handler
      ansible.builtin.command: nmcli radio all off
      changed_when: true
      failed_when: false
      check_mode: false

- name: "3.1.3 | PATCH | Ensure bluetooth services are not in use"
  when: rule_3_1_3
  tags:
    - level1-server
    - level2-workstation
    - automated
    - patch
    - sctp
    - NIST800-53R5_CM-7
    - rule_3.1.3
  block:
    - name: "3.1.3 | PATCH | Ensure bluetooth services are not in use | pkg"
      when:
        - not bluetooth_service
        - not bluetooth_mask
      ansible.builtin.package:
        name: bluez
        state: absent

    - name: "3.1.3 | PATCH | Ensure bluetooth services are not in use | mask"
      when:
        - not bluetooth_service
        - bluetooth_mask
      notify: Systemd_daemon_reload
      ansible.builtin.systemd:
        name: bluetooth.service
        enabled: false
        state: stopped
        masked: true
