---

- name: "3.4.1.1 | PATCH | Ensure nftables is installed"
  when:
    - rule_3_4_1_1
    - "'nftables' not in ansible_facts.packages"
  tags:
    - level1-server
    - level1-workstation
    - patch
    - nftables
    - NIST800-53R5_CA-9
    - rule_3.4.1.1
  ansible.builtin.package:
    name: nftables
    state: present

- name: "3.4.1.2 | PATCH | Ensure a single firewall configuration utility is in use"
  when: rule_3_4_1_2
  tags:
    - level1-server
    - level1-workstation
    - patch
    - firewalld
    - nftables
    - rule_3.4.1.2
  block:
    - name: "3.4.1.2 | PATCH | Ensure a single firewall configuration utility is in use | nftables"
      when:
        - "'firewalld' in ansible_facts.packages"
        - firewall == "nftables"
      ansible.builtin.systemd:
        name: firewalld
        masked: true

    - name: "3.4.1.2 | PATCH | Ensure a single firewall configuration utility is in use | firewalld"
      when:
        - "'nftables' in ansible_facts.packages"
        - firewall == "firewalld"
      ansible.builtin.systemd:
        name: nftables
        masked: true

    - name: "3.4.1.2 | PATCH | Ensure a single firewall configuration utility is in use | {{ firewall }} package installed"  # noqa name[template]
      when: "firewall not in ansible_facts.packages"
      ansible.builtin.package:
        name: "{{ firewall }}"
        state: present

    - name: "3.4.1.2 | PATCH | Ensure a single firewall configuration utility is in use | {{ firewall }} started and enabled"  # noqa name[template]
      ansible.builtin.systemd:
        name: "{{ firewall }}"
        enabled: true
        state: started
