---
# defaults file for rhel8

os_check: true
system_is_container: false
container_vars_file: is_container.yml
## Switching on/off specific baseline sections
# These variables govern whether the tasks of a particular section are to be executed when running the role.
# E.g: If you want to execute the tasks of Section 1 you should set the "_section1" variable to true.
# If you do not want the tasks from that section to get executed you simply set the variable to "false".
1-initial_setup: true
# This is used for audit purposes to run only specific level use the tags
# e.g.
# - level1-server
# - level2-workstation
level_1: true
level_2: true


bootloader_password: password # pragma: allowlist secret
# Filesystem kernel modules
rule_1_1_1_1: true
rule_1_1_1_2: true
rule_1_1_1_3: true
rule_1_1_1_4: true
rule_1_1_1_5: true
rule_1_1_1_6: true
rule_1_1_1_7: true
rule_1_1_1_8: true
#Filesystems
#/tmp
rule_1_1_2_1_1: true
rule_1_1_2_1_2: true
rule_1_1_2_1_3: true
rule_1_1_2_1_4: true
#/dev/shm
rule_1_1_2_2_1: true
rule_1_1_2_2_2: true
rule_1_1_2_2_3: true
rule_1_1_2_2_4: true
# /home
rule_1_1_2_3_1: true
rule_1_1_2_3_2: true
rule_1_1_2_3_3: true
#var
rule_1_1_2_4_1: true
rule_1_1_2_4_2: true
rule_1_1_2_4_3: true
rule_1_1_2_5_4: true
# /var/log
rule_1_1_2_6_1: true
rule_1_1_2_6_2: true
rule_1_1_2_6_3: true
rule_1_1_2_6_4: true
# /var/log/audit
rule_1_1_2_7_1: true
rule_1_1_2_7_2: true
rule_1_1_2_7_3: true
rule_1_1_2_7_4: true
# Package Mgmt
# Config Pkg Repos
rule_1_2_1_1: true
rule_1_2_1_2: true
rule_1_2_1_3: true
rule_1_2_1_4: true
# Package updates
rule_1_2_2_1: true
# Selinux
rule_1_3_1_1: true
rule_1_3_1_2: true
rule_1_3_1_3: true
rule_1_3_1_4: true
rule_1_3_1_5: true
rule_1_3_1_6: true
rule_1_3_1_7: true
rule_1_3_1_8: true
# Bootloader
rule_1_4_1: true
rule_1_4_2: true
# Additional Process Hardening
rule_1_5_1: true
rule_1_5_2: true
rule_1_5_3: true
rule_1_5_4: true
# Config system wide Crypto
rule_1_6_1: true
rule_1_6_2: true
rule_1_6_3: true
rule_1_6_4: true
rule_1_6_5: true
rule_1_6_6: true
rule_1_6_7: true
## Section 1 vars
# Command line warning banners
rule_1_7_1: true
rule_1_7_2: true
rule_1_7_3: true
rule_1_7_4: true
rule_1_7_5: true
rule_1_7_6: true
# Gnome Display Manager
rhel10cis_rule_1_8_1: "{{ not desktop_required }}"
rhel10cis_rule_1_8_2: true
rhel10cis_rule_1_8_3: true
rhel10cis_rule_1_8_4: true
rhel10cis_rule_1_8_5: true
rhel10cis_rule_1_8_6: true
rhel10cis_rule_1_8_7: true
rhel10cis_rule_1_8_8: true
rhel10cis_rule_1_8_9: true
rhel10cis_rule_1_8_10: true
## Ability to enable debug on mounts to assist in troubleshooting
# Mount point changes are set based upon facts created in Prelim
# these then build the variable and options that is passed to the handler to set the mount point for the controls in section1.
debug_mount_data: false

## Control 1.1.2
# If set to `true`, rule will be implemented using the `tmp.mount` systemd-service,
# otherwise fstab configuration will be used.
# These /tmp settings will include nosuid,nodev,noexec to conform to CIS standards.
tmp_svc: false

## Control 1.2.1
# For new systems that have not yet run update the gpg key is not yet imported
# Setting to `true` will allow a test on the package and force the import of the key
rhel10cis_force_gpg_key_import: true

## Control 1.2.1.3
# When installing RHEL from authorized Red Hat source, RHEL will come with default YUM repository. NOT having a default YUM
# repo ('rhel10cis_rhel_default_repo' set as 'false'), in conjunction with 'rhel10cis_rule_enable_repogpg' set as 'True', will enable the tasks
# which check the GPG signatures for all the individual YUM repositories.
rhel10cis_rhel_default_repo: true
## Control 1.2.1.3
# When 'rule_enable_repogpg' is set to 'true'(in conjunction with 'rhel_default_repo':'false'), conditions are met for
# enabling the GPG signatures-check for all the individual YUM repositories. If GPG signatures-check is enabled on repositories which do not
# support it(like RedHat), installation of packages will fail.
rule_enable_repogpg: true
## Control 1.3.1.3|4|5 - SELinux policy settings
# This selects type of policy; targeted or mls( multilevel )
# mls should not be used, since it will disable unconfined policy module
# and may prevent some services from running. Requires SELinux not being disabled (by
# having 'rhel10cis_selinux_disable' var set as 'true'), otherwise setting will be ignored.
selinux_pol: targeted
## Control 1.3.1.3|4|5 - SELinux policy settings
# This variable contains a specific SELinux mode, respectively:
#  - 'enforcing':  SELinux policy IS enforced, therefore denies operations based on SELinux policy
# rules. If system was installed with SELinux, this is enabled by default.
#  - 'permissive': SELinux policy IS NOT enforced, therefore does NOT deny any operation, only
# logs AVC(Access Vector Cache) messages. RedHat docs suggest it "can be used
# briefly to check if SELinux is the culprit in preventing your application
# from working".
# CIS expects enforcing since permissive allows operations that might compromise the system.
# Even though logging still occurs.
selinux_enforce: enforcing
## Control 1.4.1
# This variable governs whether a bootloader password should be set in '/boot/grub2/user.cfg' file.
set_boot_pass: true

# This variable will store the GRUB bootloader password to be stored in '/boot/grub2/user.cfg' file. The default value must be changed.
bootloader_password: password  # pragma: allowlist secret

# Set this value to anything secure to have predictable hashes, which will prevent unnecessary changes
bootloader_salt: ''

## Controls 1.6.x
# This variable contains the value to be set as the system-wide crypto policy. Current rule enforces NOT USING
# 'LEGACY' value(as it is less secure, it just ensures compatibility with legacy systems), therefore
# possible values for this variable are, as explained by RedHat docs:
#  -'DEFAULT': reasonable default policy for today's standards (balances usability and security)
#  -'FUTURE': conservative security level that is believed to withstand any near-term future attacks
#  -'FIPS': A level that conforms to the FIPS140-2 requirements
crypto_policy: 'DEFAULT'
## Controls 1.6.x and Controls 5.1.x
# This variable contains the value of the crypto policy module(combinations of policies and
# sub-policies) to be allowed as default setting. Allowed options are defined in 'vars/main.yml' file,
# using 'rhel10cis_allowed_crypto_policies_modules' variable, which currently are:
#    - 'OSPP'
#    - 'AD-SUPPORT'
#    - 'AD-SUPPORT-LEGACY'
crypto_policy_module: ''
## Controls 1.6.x
# This variable contains the value of the crypto policy module(combinations of policies and
# sub-policies) to be allowed as default setting. Allowed options are defined in 'vars/main.yml' file,
# using those listed in the 'rhel10cis_allowed_crypto_policies_modules' variable.
additional_crypto_policy_module: ''
## Controls:
# - 1.7.1 - Ensure message of the day is configured properly
# - 1.7.2 - Ensure local login warning banner is configured properly
# - 1.7.3 - Ensure remote login warning banner is configured properly
# This variable  stores the content for the Warning Banner(relevant for issue, issue.net, motd).
warning_banner: Authorized users only. All activity may be monitored and reported.
# End Banner
## Control 1.8.x - Settings for GDM
# do not run Control 1.8.x if using a display manager different than gdm
display_manager: "gdm"
# If the system is running a desktop this will turn off removal of the GUI pkgs
# and configure the required settings
desktop_required: false
# This variable governs whether rules dealing with GUI specific packages(and/or their settings) should
# be executed either to:
# - secure GDM, if GUI is needed('rhel10cis_gui: true')
# - or remove GDM and X-Windows-system, if no GUI is needed('rhel10cis_gui: false')
# The value of this variable is set automatically, if gnome is present this variable
# will always have `true` as a value, and `false` otherwise.
gui: "{{ prelim_gnome_present.stat.exists | default(false) }}"
# This variable specifies the GNOME configuration database file to which configurations are written.
# (See "https://help.gnome.org/admin/system-admin-guide/stable/dconf-keyfiles.html.en")
# The default database is 'local'.
dconf_db_name: local
# This variable governs the number of seconds of inactivity before the screen goes blank.
# Set max value for idle-delay in seconds (between 1 and 900)
screensaver_idle_delay: 900
# This variable governs the number of seconds the screen remains blank before it is locked.
# Set max value for lock-delay in seconds (between 0 and 5)
screensaver_lock_delay: 5
