---
# defaults file for rhel8

os_check: true
system_is_container: false
container_vars_file: is_container.yml
## Switching on/off specific baseline sections
# These variables govern whether the tasks of a particular section are to be executed when running the role.
# E.g: If you want to execute the tasks of Section 1 you should set the "_section1" variable to true.
# If you do not want the tasks from that section to get executed you simply set the variable to "false".
1-initial_setup: true
# This is used for audit purposes to run only specific level use the tags
# e.g.
# - level1-server
# - level2-workstation
level_1: true
level_2: true


bootloader_password: password # pragma: allowlist secret
# Filesystem kernel modules
rule_1_1_1_1: true
rule_1_1_1_2: true
rule_1_1_1_3: true
rule_1_1_1_4: true
rule_1_1_1_5: true
rule_1_1_1_6: true
rule_1_1_1_7: true
rule_1_1_1_8: true
#Filesystems
#/tmp
rule_1_1_2_1_1: true
rule_1_1_2_1_2: true
rule_1_1_2_1_3: true
rule_1_1_2_1_4: true
#/dev/shm
rule_1_1_2_2_1: true
rule_1_1_2_2_2: true
rule_1_1_2_2_3: true
rule_1_1_2_2_4: true
# /home
rule_1_1_2_3_1: true
rule_1_1_2_3_2: true
rule_1_1_2_3_3: true
#var
rule_1_1_2_4_1: true
rule_1_1_2_4_2: true
rule_1_1_2_4_3: true
rule_1_1_2_5_4: true
# /var/log
rule_1_1_2_6_1: true
rule_1_1_2_6_2: true
rule_1_1_2_6_3: true
rule_1_1_2_6_4: true
# /var/log/audit
rule_1_1_2_7_1: true
rule_1_1_2_7_2: true
rule_1_1_2_7_3: true
rule_1_1_2_7_4: true
# Package Mgmt
# Config Pkg Repos
rhel10cis_rule_1_2_1_1: true
rhel10cis_rule_1_2_1_2: true
rhel10cis_rule_1_2_1_3: true
rhel10cis_rule_1_2_1_4: true
# Package updates
rhel10cis_rule_1_2_2_1: true
## Section 1 vars

## Ability to enable debug on mounts to assist in troubleshooting
# Mount point changes are set based upon facts created in Prelim
# these then build the variable and options that is passed to the handler to set the mount point for the controls in section1.
debug_mount_data: false

## Control 1.1.2
# If set to `true`, rule will be implemented using the `tmp.mount` systemd-service,
# otherwise fstab configuration will be used.
# These /tmp settings will include nosuid,nodev,noexec to conform to CIS standards.
tmp_svc: false

## Control 1.2.1
# For new systems that have not yet run update the gpg key is not yet imported
# Setting to `true` will allow a test on the package and force the import of the key
rhel10cis_force_gpg_key_import: true

## Control 1.2.1.3
# When installing RHEL from authorized Red Hat source, RHEL will come with default YUM repository. NOT having a default YUM
# repo ('rhel10cis_rhel_default_repo' set as 'false'), in conjunction with 'rhel10cis_rule_enable_repogpg' set as 'True', will enable the tasks
# which check the GPG signatures for all the individual YUM repositories.
rhel10cis_rhel_default_repo: true
## Control 1.2.1.3
# When 'rule_enable_repogpg' is set to 'true'(in conjunction with 'rhel_default_repo':'false'), conditions are met for
# enabling the GPG signatures-check for all the individual YUM repositories. If GPG signatures-check is enabled on repositories which do not
# support it(like RedHat), installation of packages will fail.
rule_enable_repogpg: true

crypto_policy: 'DEFAULT'
