---
# handlers file for RHEL8-CIS

- name: Update_authselect
  ansible.builtin.command: authselect apply-changes
  changed_when: true

- name: Remount_tmp
  ansible.posix.mount:
    name: /tmp
    state: remounted

- name: Systemd_restart_tmp.mount
  ansible.builtin.systemd:
    name: tmp.mount
    daemon_reload: true
    enabled: true
    masked: false
    state: reloaded

- name: Reload_sysctl
  ansible.builtin.command: sysctl --system
  changed_when: true

- name: Sysctl_flush_ipv4_routes
  when: not system_is_container
  ansible.posix.sysctl:
    name: net.ipv4.route.flush
    value: "1"
    sysctl_set: true
  ignore_errors: true # noqa ignore-errors

- name: Sysctl_flush_ipv6_routes
  when: not system_is_container
  ansible.posix.sysctl:
    name: net.ipv6.route.flush
    value: "1"
    sysctl_set: true
  ignore_errors: true # noqa ignore-errors

- name: Restart_sshd
  ansible.builtin.service:
    name: sshd
    state: restarted

- name: Update_Crypto_Policy
  ansible.builtin.set_fact:
    full_crypto_policy: "{{ crypto_policy }}{{ crypto_policy_module }}{% if additional_crypto_policy_module | length > 0 %}:{{ additional_crypto_policy_module }}{% endif %}"
  notify: Set_Crypto_Policy

- name: Set_Crypto_Policy
  when: prelim_system_wide_crypto_policy.stdout != full_crypto_policy
  ansible.builtin.command: update-crypto-policies --set "{{ full_crypto_policy }}"
  changed_when: true
  notify:
    - Set_reboot_required
    - Restart_sshd

- name: Restart_chronyd
  ansible.builtin.service:
    name: chronyd
    state: restarted

- name: Restart_postfix
  ansible.builtin.service:
    name: postfix
    state: restarted

- name: Reload_dconf
  ansible.builtin.command: dconf update
  changed_when: true

- name: Restart_journald
  ansible.builtin.service:
    name: systemd-journald
    state: restarted

- name: Restart_systemd_journal_upload
  ansible.builtin.service:
    name: systemd-journal-upload
    state: restarted

- name: Rebuild_grub
  ansible.builtin.command: "grub2-mkconfig -o {{ prelim_grub_cfg.stat.lnk_source }}"
  changed_when: true
  ignore_errors: true # noqa ignore-errors
  notify: Set_reboot_required

- name: Restart_rsyslog
  ansible.builtin.service:
    name: rsyslog
    state: restarted

- name: Systemd_daemon_reload
  ansible.builtin.systemd:
    daemon-reload: true

## Auditd tasks note order for handlers to run

- name: Auditd rules reload
  when:
    - not prelim_auditd_immutable_check or
      "'No change' not in discovered_audit_rules_diff"
  ansible.builtin.command: augenrules --load
  changed_when: true

- name: Audit_immutable_fact
  when:
    - discovered_audit_rules_updated.changed
    - auditd_immutable_check is defined
  ansible.builtin.debug:
    msg: "Reboot required for auditd to apply new rules as immutable set"
  notify: Set_reboot_required

- name: Stop auditd process
  ansible.builtin.command: systemctl kill auditd # noqa command-instead-of-module
  changed_when: true
  listen: Restart auditd

- name: Start auditd process
  ansible.builtin.systemd:
    name: auditd
    state: started
  listen: Restart auditd

- name: Restart sshd
  ansible.builtin.systemd:
    name: sshd
    state: restarted

- name: Set_reboot_required
  ansible.builtin.set_fact:
    change_requires_reboot: true
