---
# defaults file for rhel8

os_check: true
system_is_container: false
container_vars_file: is_container.yml

1-filesystem: true
bootloader_password: password # pragma: allowlist secret

rule_1_1_1_1: true
rule_1_1_1_2: true
rule_1_1_1_3: true
rule_1_1_1_4: true
rule_1_1_1_5: true
rule_1_1_1_6: true
rule_1_1_1_7: true
rule_1_1_1_8: true

crypto_policy: 'DEFAULT'
## Control 1.1.2
# If set to `true`, rule will be implemented using the `tmp.mount` systemd-service,
# otherwise fstab configuration will be used.
# These /tmp settings will include nosuid,nodev,noexec to conform to CIS standards.
tmp_svc: false
