---
# defaults file for rhel8

os_check: true
system_is_container: false
container_vars_file: is_container.yml
## Switching on/off specific baseline sections
# These variables govern whether the tasks of a particular section are to be executed when running the role.
# E.g: If you want to execute the tasks of Section 1 you should set the "_section1" variable to true.
# If you do not want the tasks from that section to get executed you simply set the variable to "false".
1-filesystem: true
# This is used for audit purposes to run only specific level use the tags
# e.g.
# - level1-server
# - level2-workstation
level_1: true
level_2: true


bootloader_password: password # pragma: allowlist secret
# Filesystem kernel modules
rule_1_1_1_1: true
rule_1_1_1_2: true
rule_1_1_1_3: true
rule_1_1_1_4: true
rule_1_1_1_5: true
rule_1_1_1_6: true
rule_1_1_1_7: true
rule_1_1_1_8: true
#Filesystems
#/tmp
rule_1_1_2_1_1: true
rule_1_1_2_1_2: true
rule_1_1_2_1_3: true
rule_1_1_2_1_4: true
#/dev/shm
rule_1_1_2_2_1: true
rule_1_1_2_2_2: true
rule_1_1_2_2_3: true
rule_1_1_2_2_4: true


crypto_policy: 'DEFAULT'
## Control 1.1.2
# If set to `true`, rule will be implemented using the `tmp.mount` systemd-service,
# otherwise fstab configuration will be used.
# These /tmp settings will include nosuid,nodev,noexec to conform to CIS standards.
tmp_svc: false
